#allMeal{
    text-align: center;
    display: block;
    float: center;
    margin-top: 20px;
}
#eachItem{
    background-color: aqua;
    margin: 10px;
}
img {
    width:100px;
}
.vanish div {
    display: none;
}
#noResult{
    display: none;
}
#ingredients{
    width: 40%;
    text-align: left;
    margin-left:30%;
    margin-top: 50px;
}
.hungryMonster{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
img {
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
button{
    background-color: rgb(255, 220, 125);
    border-radius: 10px;
    padding:10px 30px;
    text-align: center;
}
.eachItem{
    float: left;
    margin: 5px;
    background-color: coral;
    border-radius: 5px;
    width: 300px;
}
#ingredients div{
    background-color: rgb(80, 200, 255);
    margin: 5px;
    border-radius: 10px;
}
h4{
    margin-left: 10px;
}
#ingredients img{
    align-items: center;
    margin-left:90px;
}
#ingredients button{
    margin:0 40%;
}
#ingredients ul{
    margin-left: 10px;
}
input{
    width: 300px;
}
h5{
    margin: 5px;
    padding: 5px;
}
h1{
    background-color: coral;
    border-radius: 5px;
    padding: 5px;
}
h3{
    text-align: center;
    margin:0 15px;
}